<!DOCTYPE html>
<html>
  <head>
    <title> RunaPacha </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> RUNA PACHA </h1>
    <nav>
     <ul>
      <li> <a href="/"> Home </a></li>
      <li> <a href="/Concursos">Concursos</a></li>
      <li> <a href="/NuestraHistoria">Nuestra Historia</a></li>
      <li> <a href="/Catalogo">Catalogo de libros</a></li>
        <ul>
          <li><a href="Novedades">Novedades</a></li>
          <li><a href="Novedades">Novela</a></li>
          <li><a href="Novedades">Ensayo</a></li>
          <li><a href="Novedades">Naturaleza</a></li>
          <li><a href="Novedades">Psicologia</a></li>
          <li><a href="Novedades">Infantiles</a></li>
          <li><a href="Novedades">Filosofia</a></li>
          <li><a href="Novedades">Poesia</a></li>
          <li><a href="Novedades">Autoayuda</a></li>
          <li><a href="Novedades">Solicita Asesoria</a></li>
        </ul>
     </ul>
  </nav>

  </body>
</html>
